@import url('./quotes.css');

:root {
  --primary-color: #007bff; /* Default value */
  --font-size: 16px;
}

.App {
  padding: 20px 0;
  text-align: center;
  min-height: 100vh;
  transition: 1s ease-in;
}